.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;

  > div {
    margin-right: 20px;
  }
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark {
  color: red;
}
